<!DOCTYPE html>
<html>
<head>
  <title>IllinoisSexualHealth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
</head>
<style type="text/css">
	body{
	font-family: 'Orienta', sans-serif;
	background-image: url('assets/shattered.png');
}

.button{
	background: #d92e2e;
	padding: 16px 75px;
	border-radius: 8px;
}

nav{
	background: blue;
	border-bottom: 10px solid black;
}
</style>
<script type="text/javascript">
	$('body').loadie();
</script>

<body>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
