<!DOCTYPE html>
<html>
<head>
  <title>The Illinois Teen Pregnancy and STI Hot Spot Detector</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<%= javascript_include_tag '//code.jquery.com/ui/1.10.3/jquery-ui.js' %>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>
<style type="text/css">
	body{
	font-family: 'Montserrat', sans-serif;
	background-image: url('assets/kindajean.png');
}

.button{
	background: #d92e2e;
	padding: 16px 75px;
	border-radius: 8px;
}

nav{
	background: blue;
	border-bottom: 10px solid black;
}

.navbar-default .navbar-nav>li>a{
	color:white;
	text-shadow: 0 0px 0 rgba(255,255,255,1);
	font-size:20px;
}

.navbar-default .navbar-nav>li>a:hover{
	color:white;
	text-shadow: 0 0px 0 rgba(255,255,255,1);


}

section{
	font-family: 'Montserrat', sans-serif;
}
</style>
<script type="text/javascript">
	$('body').loadie();
</script>
<script>
    $(document).ready(function () {
        $('nav').headshrinker({shrinkBy: 2, "shrinkMenu": false});
		});
</script>

<script>
	var options = {
    $menu: true,
    menuSelector: 'a',
    panelSelector: 'section',
    namespace: '.panelSnap',
    onSnapStart: function(){},
    onSnapFinish: function(){},
    onActivate: function(){},
    directionThreshold: 50,
    slideSpeed: 200
  };
  $('body').panelSnap(options);
</script>

<script type="text/javascript">
	$(function () {
	  $.scrollUp({
	    scrollName: 'scrollUp', // Element ID
	    topDistance: '300', // Distance from top before showing element (px)
	    topSpeed: 300, // Speed back to top (ms)
	    animation: 'fade', // Fade, slide, none
	    animationInSpeed: 200, // Animation in speed (ms)
	    animationOutSpeed: 200, // Animation out speed (ms)
	    scrollText: 'Scroll to top', // Text for element
	    activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
	  });
	});
</script>

<body>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
